 #header {
	background: #5f9ea0;
	color: #fff;
}

h2 {
	width: 100%;
	text-align: center;
	color: #5f9ea0;
	border-bottom: 1px solid #000;
	line-height: 0.1em;
	margin: 10px 0 20px;
}

h2 span {
	background: #fff;
	padding: 0 10px;
}

.footer {
	padding: 40px;
}

#box1 {
	background: #5f9ea8;
	color: #343a40;
}

#box2 {
	background: #343a40;
	color: #fff;
}

#main-footer {
	background: #5f9ea8;
	color: #fff;
}

a {
	color: inherit;
}

.fa-xs {
	font-size: 0.5rem;
	position: relative;
	top: -1px;
}

